*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--gray-800);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("resources/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-attachment: fixed;
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}
.cover{
    min-height: 100vh;
    position: relative;
}

.headbutton{
     padding: 10px 20px;
     font-size: 25px;
     background: none;
     color: rgb(250, 230, 2);
     border:none;
     cursor: pointer;
     text-decoration: underline;
     opacity: 0.7;
     font-family: 'Pacifico', cursive;
     font-weight: bold;
     position: fixed;
}
.headbutton:hover {    
    color: rgb(255, 255, 255);                   
    transform: scale(1.05);      
}
.profile-pic{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:250px;
    height:auto;
}
.contact-info{
    position: fixed;
    top: 6%;
    left: 78%;
    transform: translate(-50%, -50%);
}
.social-btn{
    color: rgb(235, 223, 12);
    font-size: 22px;
    text-decoration: none;
    margin: 50px 10px;   
}
.social-btn:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}
.intro{
    position: absolute;
    top: 42%;
    left: 45%;
    color:white;
}
#sub-head{
    position: relative;
    left: -130px;
}
.second-line{
    display: block;
    margin-left: 75px;
}
.intro-card{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px 50px;
    margin-top: 20px;  
    width: 100%;        
    max-width: 600px;  
    box-shadow: 0 8px 20px rgba(167, 2, 2, 0.3); 
    color: #ffffff;   
    line-height: 1.5;
    font-size: 16px;
    text-align: justify;
    position: relative;
    left: -180px;
}
.information{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    align-items: center;
    margin-left: -150px;
    
}
#buttons{
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    color: beige;
    padding: 10px 40px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 8px 20px rgba(248, 59, 134, 0.3); 
    background-color:rgb(86, 0, 40);
    cursor: pointer;
}
.nav-bar{
    display: flex;
    justify-content: center;
    gap: 10px;
    border: rgb(0, 0, 0);
    padding: 10px 10px;
    width: fit-content;
    position: absolute;
    top: 3%;
    left: 35%;
    background-color: rgb(31, 31, 91);
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
    position:fixed;
    z-index: 1000;
}
.nav-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #0a0932;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}
.nav-btn:hover {
    background: #430101;
}
.about-me{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10%;
    min-height: 100vh;
    color: white;
    font-size: 12px;
}
.aboutme{
    margin-top:6%;
    margin-right:20%;
    margin-bottom: 20px;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    box-shadow: #ffffff 0px 4px 4px;
    border-radius: 20px;
}
.me{
    max-width: 890px;
    line-height: 1.8;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 10vw;
    box-shadow: #ffffff 0px 8px 20px;
    border-radius: 20px;
    font-size: 15px;
    text-align: justify;

}
.secondimgs{
    margin-bottom: 40px;
    width: 350px;
}
.news{
    display:flex;
}
.pics{
    width: 300px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 200px;
    border-radius: 20px;
}
.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-left: 16%;
    
}
.card {
    width: 280px;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    color: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    text-align: center;
    transition: 0.3s ease;
}

.card h2 {
    margin-bottom: 15px;
    color: gold;
}

.card ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.card li {
    margin-bottom: 8px;
}

.card p {
    font-size: 16px;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 12px 30px rgba(255,215,0,0.6);
}
.tools {
    text-align: left;
}

.tools h1 {
    font-size: 1.5rem;
    margin: 0;
    top: 10px;
    text-align: left;
    color:beige;
}
.logo-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px; 
    align-items: center;
}


.logo-row img {
    width: 60px;   
    height: 60px; 
    object-fit: contain;
}

#c{
    background-color: white;
}
#c:hover {
    background-color: rgb(255, 255, 255);      
    color: black;  
    box-shadow: black 0px 4px 4px;                 
    transform: scale(1.3);      
}
.boss{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.serve {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top:60px;
    text-align: center;
    padding: 40px 20px;
}
.serve h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #ffb10a;
    padding-left: 2px;
    padding-right: 2px;
}
.serve h2 {
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
    color: rgb(252, 252, 252);
    padding: 20px;
    box-shadow: 4px  4px 4px 4px rgba(225,4,4,0.3);
    line-height: 1.6;
    margin: 0 auto 30px auto; 
    max-width: 800px;
}

.serve > div:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.service-card {
    margin-top: 20px;
    background-color: #38383f;
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 15px rgba(255, 254, 254, 0.637);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
}
.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(253, 232, 4, 0.779);
}
.service-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #cd4800;
}
.service-card p {
    margin: 0;
    color: #efefef;
    line-height: 1.5;
    font-size: 1rem;
}
@media (max-width: 768px) {
    .serve > div:last-child {
        flex-direction: column;
        align-items: center;
    }
    .service-card {
        width: 80%;
    }
}
.service{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
}
.projects{
    display: flex;
    flex-direction: row;
    gap: 200px;
    margin-left:190px;
}
#my-work {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
}
#my-work h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #ffbb01;
    margin-bottom: 10px;
}

#my-work h2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
    margin-top: 0;          
    margin-bottom: 40px;   
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}
.first-project, .second-project {
    border-radius: 12px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.first-project:hover, .second-project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(236, 235, 231, 0.868);
}
.first-project img, .second-project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
.first-project h2, .second-project h2 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 10px;
}
.first-project button, .second-project button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s;
}

.first-project button:hover, .second-project button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
@media (max-width: 992px) {
    #my-work .service {
        flex-direction: column;
        align-items: center;
    }

    .first-project, .second-project {
        width: 80%;
    }
}
#contact {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    background-color: rgba(1, 8, 34, 0.63);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgb(146, 142, 142);
}

#contact h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #f1b500;
}
#contact p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #f5f3f3;
    line-height: 1.6;
    margin-bottom: 30px;
}
#contact h2 {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0;
    color: #ffaf03;
}
#contact a {
    color: #719ad7;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s, transform 0.2s;
}

#contact a:hover {
    color: #0056b3;
    transform: scale(1.05);
}
#contact > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-top: 20px;
}


@media (max-width: 768px) {
    #contact {
        padding: 30px 15px;
    }

    #contact h2 {
        font-size: 0.95rem;
    }

    #contact p {
        font-size: 1rem;
    }
}


